<div class="container row display-4 bg-light ">
    <div class="col-8">
        <h1 class="display-4">

            INFORMACIÓN SALUDABLE</h1>
        <small class="text-mute small1"><p>Nada se compara con la alegría de volver a casa y encontrar un compañero leal. El amor incondicional de una mascota puede brindar más que compañía. Las mascotas también pueden disminuir el estrés, mejorar la salud del corazón e, incluso, ayudar
            a los niños con sus habilidades emocionales y sociales.</p>
        <p>Se ha demostrado que la interacción con animales disminuye los niveles de cortisol (una hormona relacionada con el estrés) y disminuye la presión arterial.</p>
        
        </small>
        <a class="badge badge-pink" [routerLink]="['nosotros1']">info</a>
    </div>
    <!--cierre del primero col-->
    <div class="col-3">

        <img src=" ../assets/img/hamster1.jpg " width="360 " height="350">
    </div>

</div>
<!--cierre del primer div-->

<div class="row justify-content-around div-cajita">
    <div class="card border-info mb-3 " style="max-width: 18rem; ">
        <div class="card-header ">Ayudamos a tu mascota</div>
        <div class="card-body text-info ">
            <h5 class="card-title ">Conoce nuestros servicios</h5>
            <p class="card-text ">
                -Higiene
            </p>

            <p class="card-text ">
                -Medicina
            </p>

            <p class="card-text ">
                -Estetica
            </p>
            <div>
                <button type="button" class="btn btn-outline-primary margenc">Servicios</button>
            </div>
        </div>


    </div>
    <!--cierre de la primer card-->
    <div class="card border-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Beneficios</div>
        <div class="card-body text-danger">
            <h5 class="card-title">Registrate y crea una cuenta ahora!</h5>
            <p class="card-text">Crear una cuenta y obten puntos para beneficios en tus servicios.</p>

            <div>
                <button type="button" class="btn btn-outline-danger margenb">Registrate</button>
            </div>
        </div>

    </div>
    <!--cierre del segundo  card-->
    <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Conocenos</div>
        <div class="card-body text-info">
            <h5 class="card-title">Veterinaria mascotas saludables</h5>
            <p class="card-text">-Experiencia</p>
            <p class="card-text ">
                -Integridad
            </p>
            <p class="card-text ">
                -confianza
            </p>
            <button type="button" class="btn btn-outline-primary">Nosotros</button>
        </div>
    </div>
    <!--cierre del tercer card-->



</div>

<!--cierre del contenedor de las cards-->
<hr>



<div class=" row bg-light">

    <div class="col-6">
        <h1 class="display-4 cuidamos-detu-mascota">
            Cuidamos de tu mascota

        </h1>
    </div>

    <div class="col-6">
        <ul>
            <li class="bg-light nstr">

                <div class="row">

                    <div class="col">
                        <a class=" navbar-brand " href="# ">
                            <img src="../assets/img/Facebook-icon.png " width="40 " height="30 " alt=" " loading="lazy ">
                        </a>
                    </div>


                    <p class="text-redes">/MascotasSaludables</p>



                </div>
            </li>
            <li class="bg-light nstr">

                <div class="row">

                    <div class="col">
                        <a class=" navbar-brand " href="# ">
                            <img src="../assets/img/whats_blue2.png " width="40 " height="30 " alt=" " loading="lazy ">
                        </a>
                    </div>

                    <p class="text-redes-whats">#3330083609</p>


                </div>
            </li>

            <li class="bg-light nstr">

                <div class="row">

                    <div class="col">
                        <a class=" navbar-brand " href="# ">
                            <img src="../assets/img/insta_blue.png " width="40 " height="30 " alt=" " loading="lazy ">
                        </a>
                    </div>

                    <p class="text-redes">mascotas_saludables</p>


                </div>
            </li>


            <li class="bg-light nstr">

                <div class="row">

                    <div class="col">
                        <a class=" navbar-brand " href="# ">
                            <img src="../assets/img/mapita.png " width="40 " height="30 " alt=" " loading="lazy ">
                        </a>
                    </div>

                    <p class="text-redes">/Av.Lopez Mateos#404</p>


                </div>
            </li>
        </ul>

    </div>

</div>
<div>

    <img src="../assets/img/veterinario1.jpg " class="pastillas ">

</div>