<body>

    <div class="animated fadeIn fast contenedor-info-servicios">
        <div class="row contenedor-info">
            <div class="col card text-white bg-info mb-3" style="max-width: 18rem;">
                <div class="card-header">Info</div>
                <div class="card-body">
                    <h5 class="card-title">Registrate</h5>
                    <p class="card-text">Crea una cuenta ahora y obten puntos por cada cita que agendes, podras obtener beneficios, promociones y prioridad en tus consultas agendadas.</p>
                </div>
            </div>

            <div class="col card info-servicios">
                <div class="card-header">
                    Nuestros Servicios
                </div>
                <div class="card-body">
                    <h5 class="card-title">Confianza y calidad</h5>
                    <p class="card-text">Para mascotas saludables es primordial la confianza y la calidad en nuestros servicios. Mantenemos tus datos a salvo igual que a tu mascota.</p>
                    <a [routerLink]="['formulario']" class="btn btn-primary">Crear cuenta</a>
                    <img src="../assets/img/mascota.png" width="100" height="80">
                </div>
            </div>

        </div>
        <!--Cierre del div del contenedor de informacion servicios-->


        <hr>
        <div>

            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-4">
                    <div class="card">
                        <img src="../assets/img/consulta.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">El mejor trato</h5>
                            <hr class="color-barra">
                            <p class="card-text">Vas a encontrar todo lo necesario para cuidar lo mejor posible de tu mascota, darle la mejor alimentación y conocer todo sobre ella.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="../assets/img/perrito1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Los mejores productos</h5>
                            <hr class="color-barra">
                            <p class="card-text">Garantizando procesos y productos seguros que cumplan con todos y cada uno de los requisitos legales aplicables con las especificaciones y con las necesidades del cliente.</p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="../assets/img/quirofano.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">La mejor atenciòn a tu mascota</h5>
                            <hr class="color-barra">
                            <p class="card-text">contamos con los mejores equipos para garantizar el mejor servicio para tu mascota. .
                                <br>Ofrecemos la mejor atencion medica para todo tipo de animales, a si como sala de urgencias para atencion rapida y de calidad.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div class="card">
                        <img src="../assets/img/doctores_perrito.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">¿Eres primerizo?</h5>
                            <p class="card-text">Los perros que crecen sin una socialización adecuada desarrollan miedo y ansiedad, que pueden convertirse en problemas de comportamiento que dificultan su vida.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
<!--Cierre del div del contenedor principal servicios-->