<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="#">
        <img src="../assets/img/mascota.png" width="60" height="60" alt="" loading="lazy">
    </a>

    <div class="" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['header']">inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['servicios']">servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['nosotros1']">nosotros</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['formulario']">Contacto</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="#">Registrate</a>
            </li>
        </ul>

    </div>


    <div class="redes-sociales">
        <a class="navbar-brand" href="#">
            <img src="../assets/img/logo_facebook.png" width="40" height="30" alt="" loading="lazy">
        </a>

        <a class="navbar-brand" href="#">
            <img src="../assets/img/logo_whats.png" width="40" height="40" alt="" loading="lazy">
        </a>

        <a class="navbar-brand" href="#">
            <img src="../assets/img/logo_insta.png" width="50" height="30" alt="" loading="lazy">
        </a>




    </div>
</nav>