<div class="row justify-content-center contenedor-principal animated fadeIn fast">
    <div class="nstr row justify-content-center bg-light">
        <h1>Mascotas saludables</h1>
    </div>

</div>
<hr width="120">
<div class="row caja-nosotros1">
    <div class="col-4">

        <img src="../assets/img/pastor.jpeg" class="pastor">

    </div>
    <div class="col contenedor-nosotros bg-light">
        <h3>Integridad.</h3>
        <hr class="linea-hr" width="120 ">

        <p>Estamos comprometidos con un servicio honesto y ético. Siempre vamos a actuar en el mejor interés de nuestros pacientes y sus propietarios. La base de nuestra práctica, es la confianza e integridad</p>
    </div>
</div>
<div class="row caja-nosotros2 ">
    <div class="col-4 ">

        <img src="../assets/img/bendita.jpeg " class="pastor ">

    </div>
    <div class="col contenedor-nosotros bg-light ">
        <h3>Experiencia</h3>
        <hr class="linea-hr" width="120 ">

        <p>Nos responsabilizamos en estar en continua formación, para estar al dia de las últimas novedades clínicas y poder ofrecer los tratamientos más actualizados a su mascota.</p>
    </div>
</div>


<div class="row caja-nosotros3 ">
    <div class="col-4 ">

        <img src="../assets/img/cuyo (1).jpeg " class="cuyo ">

    </div>
    <div class="col contenedor-nosotros bg-light ">
        <h3>Comunicación.</h3>
        <hr class="linea-hr" width="120 ">

        <p>Nos parece de extremada importancia, el tipo de comunicación que tengamos con el propietario, por lo que incentivaremos aquellas acciones que permitan al propietario de la mascota, entender de forma didáctica, el proceso que sufre su mascota</p>
    </div>
</div>

<div class="row ">

    <div class="col ">
        <img src="../assets/img/animalitos3.jpg ">

    </div>

</div>

<div class="boton-azul-nosotros ">
    <button type="button " class="btn btn-primary btn-lg btn-block ">Registrate</button>
</div>