<div class="animated fadeIn fast">
    <header class="animated fadeIn fast">
        <div class=" row justify-content-between ">
            <div class="col-7 w-100 animated fadeIn fast "> <img src=" ../assets/img/mascotas.png " width="700 " height="400 ">
            </div>

            <div class="col ">
                <div class="card " style="width: 18rem; ">
                    <img src="./assets/img/perrito.jpg " class="card-img-top " alt="... ">
                    <div class="card-body ">
                        <h5 class="card-title ">La salud es importante</h5>
                        <p class="card-text ">El cuidado de tu mascota le ayuda a tener una vida plena y saludable. Recuerda siempre cuidarlo y quererlo.
                        </p>
                        <a href="# " class="btn btn-primary ">contacto</a>
                    </div>
                </div>

            </div>
        </div>

        <hr>

        <app-div1>
        </app-div1>

    </header>